/**
 * Font family
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/**
 * Root style
 */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --primary-color: #1d2130;
  --seconcary-color: #1d2130;
  --primary-white: #ffffff;
  --font_family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.7;
  font-size: 1.4rem;
  font-family: var(--font_family);
}

/**
 * Font size
 */
h1,
h2,
h3 {
  font-weight: 900;
  color: var(--seconcary-color);
  font-family: var(--font_family);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
p {
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--seconcary-color);
  font-family: var(--font_family);
}
input {
  font-size: 1.4rem;
  color: var(--seconcary-color);
  font-family: var(--font_family);
}
label {
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--seconcary-color);
  font-family: var(--font_family);
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.6rem;
  }
  input {
    font-size: 1.6rem;
  }
  label {
    font-size: 1.6rem;
  }
}

/**
 * Primaty style
 */
li {
  list-style: none;
  color: var(--seconcary-color);
}
input {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: var(--primary-white);
}

/**
 * Container
 */
.container {
  margin: 0 auto;
  max-width: 1024px;
}
@media screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0rem 2rem;
  }
}

/**
 * section
 */
.section {
  margin-top: 10rem;
}
@media screen and (max-width: 768px) {
  .section {
    margin-top: 7rem;
  }
}

/**
 * Button
 */
.primary-btn {
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 12px;
  color: var(--primary-white);
  transition: all 0.3s linear;
  font-family: var(--font_family);
  background-color: var(--primary-color);
}
.primary-btn:hover {
  transform: scale(0.95);
}

/**
 * Title gradient
 */
.title-gradient {
  background: linear-gradient(
    to left,
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**
 * Header
 */
.header {
  z-index: 999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  background: var(--primary-white);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-list li {
  margin-left: 1rem;
  transition: all 0.3s linear;
}
.header-list li:hover {
  transform: scale(1.05);
}
.header_btn {
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  .header-list {
    display: none;
  }
}

/**
 * Mobile navbar
 */
@media screen and (min-width: 768px) {
  .open-navbar {
    display: none;
  }
  .close-navbar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .open-navbar {
    cursor: pointer;
  }
  .open-navbar img {
    width: 40px;
  }
  .mobile-navbar {
    width: 100%;
    z-index: 999;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeInDown 0.25s forwards;
    transition: all 0.3s ease;
    background-color: #ffffff;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: none;
  }
  .header-list li {
    margin: 1rem;
    font-size: 2rem;
  }
  .close-navbar {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .close-navbar img {
    width: 45px;
  }
  .active {
    display: flex;
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/**
 * Hero
 */
.hero {
  margin-top: 7rem;
  text-align: center;
}
.hero-text {
  position: relative;
}
.hero-bg {
  width: 100%;
  z-index: -1;
  margin-bottom: -50rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-mail {
  width: max-content;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 12px;
  background-color: var(--primary-white);
}
.hero-img img {
  width: 100%;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  .hero-bg {
    margin-bottom: -15rem;
  }
  .hero-mail {
    width: 100%;
  }
  .hero-mail input {
    width: 50%;
  }
}

/**
 * About
 */
.about {
  text-align: center;
}
.about-icon {
  width: 100%;
  padding: 4rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 12px;
  background-color: #6b7cff2b;
}
.icon_box {
  text-align: left;
}
.icon_box p {
  color: #242424;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .about-icon {
    grid-template-columns: repeat(1, 1fr);
  }
}

/**
 * Work us
 */
.workus {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}
.workus-icon_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.workus-icon_box img {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 50px;
  background-color: #ffacac;
}
@media screen and (max-width: 768px) {
  .workus {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

/**
 * impression
 */
.impression {
  padding: 1rem 2rem;
  position: relative;
}
.bg-impression {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.impression-wrapper {
  padding: 5rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.impression-wrapper button {
  margin-top: 1rem;
}
.impression-img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bg-impression {
    height: 650px;
  }
  .impression-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .impression-text {
    margin-bottom: 3rem;
  }
}

/**
 * Business partner
 */
.business-partner {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(5, 1fr);
}
.business-partner img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .business-partner {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * Analyze
 */
.analyze {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}
.analyze-icon_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.analyze-icon_box img {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 50px;
  background-color: #f4f5f7;
}
@media screen and (max-width: 768px) {
  .analyze {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

/**
 * Work us
 */
.workus {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}
.workus-icon_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.workus-icon_box img {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 50px;
  background-color: #ffacac;
}
@media screen and (max-width: 768px) {
  .workus {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

/**
 * Features
 */
.features {
  text-align: center;
}
.features-icon {
  width: 100%;
  padding: 4rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 12px;
  background-color: #cdc7d22d;
}
.features-icon_box {
  text-align: left;
}
.features-icon_box:nth-child(2) {
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 2px solid #cdc7d2;
  border-left: 2px solid #cdc7d2;
}
.features-icon_box p {
  color: #242424;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .features-icon {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-icon_box:nth-child(2) {
    border: none;
  }
}

/**
 * Team
 */
.team {
  text-align: center;
}
.team-user {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.team-user_box {
  padding: 2rem 4rem;
  border-radius: 12px;
  border: 2px solid #2323;
}
@media screen and (max-width: 768px) {
  .team-user {
    grid-template-columns: repeat(1, 1fr);
  }
}

/**
 * Call to action
 */
.call-to-action {
  text-align: center;
  position: relative;
}
.bg-call-to-action {
  width: 100%;
  height: 120%;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.call-to-action-wrapper button {
  margin-top: 1rem;
  margin-bottom: 10rem;
}

/**
 * Footer
 */
.footer {
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: var(--primary-white);
  background-color: var(--primary-color);
}
.footer p {
  color: var(--primary-white);
}
.footer li {
  color: #888888;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 768px) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-box {
    margin-bottom: 2rem;
  }
}

/**
 * Copyright
 */
.copyright {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.copyright p {
  margin-right: 1rem;
  color: var(--primary-white);
}
.copyright img {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .copyright {
    flex-direction: column;
  }
  .copyright p {
    margin-bottom: 1rem;
  }
  .copyright img {
    margin-bottom: 1rem;
  }
}
